.path-title-plugin-has-path .view-header-title::before,
.path-title-plugin-has-path .view-header-title::after {
	font-size: var(--path-title-plugin-font-size);
	vertical-align: middle;
	opacity: 75%;
	padding: var(--path-title-plugin-padding-size);
	border: var(--path-title-plugin-border-size) solid
		var(--background-modifier-border);
	border-radius: 5px;
}

.path-title-plugin-has-path .view-header-title::before {
	content: var(--path-title-plugin-title-before);
	margin-right: 0.5em;
}

.path-title-plugin-has-path .view-header-title::after {
	content: var(--path-title-plugin-title-after);
	margin-left: 0.5em;
}

.path-title-plugin-undo-container {
	border: 1px solid var(--background-modifier-border);
	border-radius: 5px;
	padding-top: 18px;
	padding-left: 18px;
	padding-right: 18px;
}
